/* 
    Document   : resistor
    Created on : 18.10.2012, 20:51:27
    Author     : markus
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
}

a {
    color: inherit;
}

header {
    position: fixed;
    left: 50%;
    width: 510px;
    margin-left: -255px;
    margin-top: 50px;
}

header h1 {
    margin: 0;
    margin-left: 12px;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 20px;
    color: #e2c8af;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
}

footer {
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px #000;
    background-color: #e2c8af;
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 2px 4px 2px 4px;
}

#content {
    width: 700px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -350px;
}

.resWire {
    background-color: black;
    width: 75px;
    height: 10px;
    float: left;
    position: relative;
    top: 145px;
}

#resBody {
    background-color: #e2c8af;
    float: left;
    width: 550px;
    height: 300px;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    -moz-box-shadow: 0 0 5px 5px #AAA;
    -webkit-box-shadow: 0 0 5px 5px #AAA;
    box-shadow: 0 0 5px 5px #AAA;
    
    background:-moz-linear-gradient(top, #fff, #e2c8af); /* Firefox */
    background:-webkit-linear-gradient(top, #fff, #e2c8af); /* Safari, Chrome */
    background:linear-gradient(top, #fff, #e2c8af); /* W3C Standard */
}

.resWireLeft {
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;    
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;    
}

.resWireRight {
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;    
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;        
}

.resBand {
    height: 300px;
    width: 46px;
    border-left: 2px solid #c0a68d;
    border-right: 2px solid #c0a68d;
/*    border: 1px solid #663300;
    position: relative;
    top: 0px; */
    float: left;
}

#resBand0 {
    /*background-color: saddlebrown;*/
    margin-left: 30px;
}

#resBand1 {
    background-color: saddlebrown;
    margin-left: 20px;
}

#resBand2 {
    background-color: black;
    margin-left: 20px;
}

#resBand3 {
    background-color: black;
    margin-left: 60px;
}

#resBand4 {
    background-color: goldenrod;
    margin-left: 60px;
}

#resBand5 {
    /*background-color: goldenrod;*/
    margin-left: 30px;
}

#console {
    clear: both;
    width: 650px;
    margin-left: 75px;
    height: 150px;
}

#explanation {
    padding-top: 10px;
    height: 50px;
    font-size: 1.7em;
}

#resBand0Val {
    float: left;
    margin-left: 30px;
    width: 50px;
    text-align: center;
    visibility: hidden;
}

#resBand1Val {
    float: left;
    margin-left: 20px;
    width: 50px;
    text-align: center;
}

#resBand2Val {
    float: left;
    margin-left: 20px;
    width: 50px;
    text-align: center;
}

#resBand3ValPre {
    float: left;
    margin-left: 0px;
    width: 50px;
    text-align: center;
}

#resBand3Val {
    float: left;
    margin-left: 15px;
    width: 50px;
    text-align: left;
    font-size: 0.6em;
    vertical-align: text-top;
}

#resBand4ValPre {
    float: left;
    margin-left: 0px;
    width: 50px;
    text-align: center;
}

#resBand4ValContainer {
    float: left;
    width: 70px;
    margin-left: 5px;
    text-align: center;
}

#resBand5ValContainer {
    float: left;
    margin-left: 15px;
    text-align: left;
    visibility: hidden;
}

#consoleForm {
    clear: both;
    height: 50px;
    font-size: 2.0em;
}

#consoleForm input {
    font-size: 1.0em;
}

.eSeriesSelection {
    margin-left: 12px;
    font-size: 0.6em;
    margin-bottom: 20px;
    background-color: #e2c8af;
    width: 510px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

#eSeriesMenu {
    margin: 0;
    padding: 0;
    clear: both;
    display: inline;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

#eSeriesMenu li {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    display: inline;
    background-color: #c0a68d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#eSeriesMenu li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#eSeriesMenu li.active {
    background-color: white;
}

#eSeriesInfo {
    display: none;
    font-size: 0.5em;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #DD4433;
    width: 510px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*#eSeriesClosestVal {
    font-weight: bold;
}

#eSeriesInfoName {
    font-weight: bold;
}*/

#eSeriesClosestValButton {
    text-decoration: underline;
}

#eSeriesClosestValButton:hover {
    cursor: pointer;
}

#resValue {
    width: 208px;
}

#resValue.error {
    background-color: #DD4433;
}

#resTolerance {
    font-size: 30px;
}

.resBandUnit {
    font-size: 0.6em;
}

.preResult {
    float: left;
    width: 40px;
    text-align: center;
}

#resultContainer {
    float: left;
}

#tolMinMax {
    float: left;
    margin-left: 10px;
    vertical-align: top;
    padding-top: 2px;
    font-size: 0.5em; 
}

.clrSelectorArea {
    margin:2px;
    display: none;
    width: 41px;
    height: 290px;
}

.clrSelectorField {
    border: 1px solid darkgray;
    border-collapse: collapse;
/*    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;*/
    width: 39px;
    height: 20px;
    text-align: center;
    padding-top: 0.1em;
    font-size: 0.7em;
}

.clrSelectorSelected {
    border: 1px solid red;
}

.clear {
    clear: both;
}